* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
    width: 100%;
}

/* --------------------------------- header --------------------------------- */
header {
    color: white;
    position: fixed;
    top: 40px;
    left: 40px;
}

header,
h1 {
    font-size: 24px;
}

header,
p {
    font-size: 16px;
}

/* ------------------------------- Background ------------------------------- */

.bground {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

/* --------------------------------- Footer --------------------------------- */
footer {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

footer,
a {
    margin: 0 10px 0 0;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}