* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    height: 100vh;
    width: 100%;
}

/* --------------------------------- header --------------------------------- */
header {
    color: white;
    position: fixed;
    top: 40px;
    left: 40px;
}

/* ------------------------------- Background ------------------------------- */

#bground {
    height: 100vh;
    width: 100%;
}

/* --------------------------------- Footer --------------------------------- */
footer {
    position: fixed;
    bottom: 30px;
    left: 30px;
}