* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    height: 100vh;
    width: 100%;
}

/* --------------------------------- header --------------------------------- */
header {
    color: white;
    position: fixed;
    top: 40px;
    left: 40px;
}

header,
h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

header,
p {
    font-size: 16px;
}

/* ------------------------------- Background ------------------------------- */
.sally1 {
    height: 100vh;
    background-image: url(images/sally_1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally2 {
    height: 100vh;
    background-image: url(images/sally_2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally3 {
    height: 100vh;
    background-image: url(images/sally_3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally4 {
    height: 100vh;
    background-image: url(images/sally_4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally5 {
    height: 100vh;
    background-image: url(images/sally_5.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally6 {
    height: 100vh;
    background-image: url(images/sally_6.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally7 {
    height: 100vh;
    background-image: url(images/sally_7.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.sally8 {
    height: 100vh;
    background-image: url(images/sally_8.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* --------------------------------- Footer --------------------------------- */
footer {
    position: fixed;
    bottom: 30px;
    left: 30px;
}

footer,
a {
    color: #ffffff;
    margin: 0 10px 0 0;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
}